// Variables
$grey: #323232;
$lightgrey: #f2f2f2;
$font-stack: Arial,
sans-serif;
$regular-fz: 16px;
$large-fz: 20px;
$xlarge-fz: 28px;

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $grey;
  font-family: $font-stack;
  font-size: $regular-fz
}

// Layout
#app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: $lightgrey;

  #page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1040px;
    background-color: white;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: palegoldenrod;
  outline: 1px solid slategrey;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: darkkhaki;
}