// Variables
$grey: #323232;
$lightgrey: #f2f2f2;
$font-stack: Arial, sans-serif;
$regular-fz: 16px;
$large-fz: 20px;
$xlarge-fz: 28px;

@mixin table-style($stripes-color, $hover-color) {
  width: 100%;
  border: 1px solid #EBEBEB;
  text-align: center;

  thead tr,
  tr:nth-child(even) {
    background: $stripes-color;
  }

  tr:hover {
    background: $hover-color;
  }

  th {
    font-weight: 600;
    padding: 0.5rem;
  }

  td {
    padding: 0.5rem;
  }
}

@mixin link-style {
  a {
    color: $grey;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
  }

  a:hover {
    color: $lightgrey;
    background-color: darkkhaki;
  }
}

@mixin button-style($color,$hover-color, $text-color) {
  button,
  input[type="submit"] {
    display: inline-block;
    border: none;
    padding: 0.5rem 0.3rem;
    margin: 0;
    text-decoration: none;
    background: $color;
    font-size: 0.7rem;
    color: $text-color;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
      transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }

  button:hover,
  input[type="submit"]:hover {
    background: $hover-color;
    box-shadow: 0.2rem 0.2rem 1.5rem #888888;
  }

  button:focus,
  input[type="submit"]:focus {
    outline: none;
  }

  button:active,
  input[type="submit"]:active {
    transform: scale(0.99);
  }
}