// Variables
$grey: #323232;
$lightgrey: #f2f2f2;
$font-stack: Arial, sans-serif;
$regular-fz: 16px;
$large-fz: 20px;
$xlarge-fz: 28px;

@mixin table-style($stripes-color, $hover-color) {
  width: 100%;
  border: 1px solid #EBEBEB;
  text-align: center;

  thead tr,
  tr:nth-child(even) {
    background: $stripes-color;
  }

  tr:hover {
    background: $hover-color;
  }

  th {
    font-weight: 600;
    padding: 0.5rem;
  }

  td {
    padding: 0.5rem;
  }
}

@mixin link-style {
  a {
    color: $grey;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
  }

  a:hover {
    color: $lightgrey;
    background-color: darkkhaki;
  }
}

@mixin button-style {
  button, input[type="submit"] {
    background-color: $lightgrey;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
  }

  button:hover,
  input[type="submit"]:hover {
    color: $lightgrey;
    background-color: darkkhaki;
    box-shadow: 0.5rem 0.5rem 1.5rem #888888;
  }
}