section.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: $large-fz;
  background-color: palegoldenrod;
  border-radius: 1rem;

  div {
    height: 54px;
  }

  .header-left {
    display: flex;
    align-items: center;
    width: 300px;
    @include link-style;
  }

  .page-title {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 54px;
  }

  .header-right {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  i {
    padding: 0 1rem;
    font-size: $xlarge-fz;
  }
}