#main {
  display: flex;

  section.hive-info {
    border: 1px solid blue;
  
    table {
      @include small-table-style;
    }
  }
  
  section.bees-table-container {
    border: 1px solid blue;
  
    table {
      @include table-style(lemonchiffon, khaki);
    }
  }
}