section.home-header {
  border: 1px solid blue;
}

section.hive-info {
  border: 1px solid blue;
}

section.bee-table-container {
  border: 1px solid blue;

  .bee-table {
    @include table-style(lemonchiffon, khaki);
  }
}