.id-card {
  border: 1px solid blue;

  table {
    .good-perf {
      background-color: limegreen;
    }

    .bad-perf {
      background-color: tomato;
    }

    .comb-info {
      .hide {
        display: none;
      }
    }
  }
}