section.id-card {
  margin: 1.5rem 0 1rem 0;
  @include section-style(1rem);

  table {
    @include small-table-style;

    tr td:last-child {
      width: 210px;
    }

    .good-perf {
      background-color: limegreen;
      border-radius: 2rem;
    }

    .bad-perf {
      background-color: tomato;
      border-radius: 2rem;
    }

    .comb-edit-row {
      height: 50px;

      .comb-info {
        display: flex;
        justify-content: space-between;
        @include button-style;

        .comb-id {
          padding: 0.6rem 0;
          margin-right: 0.4rem;
        }

        .edit-form {
          display: flex;

          select {
            padding: 9px 0;
            margin: 0 0.6rem 0 0;
          }
        }

        .hide {
          display: none;
        }
      }

      .form-notice {
        padding-top: 2px;
        color: mediumseagreen;
        font-size: 0.7rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}