.appt-table-container {
  border: 1px solid blue;
  // overflow: auto;
  // max-height: 250px;

  .appt-table {
    thead {
      background: darkgrey;
    }

    tr:nth-child(even) {
      background: lightgray;
    }

    .hide {
      display: none;
    }
  }
}