.appt-table-container {
  border: 1px solid blue;
  // overflow-y: auto;
  // max-height: 250px;

  .appt-table {
    margin: 1rem auto; // fixme
    @include table-style(lemonchiffon, khaki); //(#f8f8f8, #f1f7ff);

    .hide,
    .collapse-col {
      display: none;
    }
  }
}