.appt-table-container {
  border: 1px solid blue;
  // overflow-y: auto;
  // max-height: 250px;

  .appt-table {
    width: 800px;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;

    thead tr,
    tr:nth-child(even) {
      background: #f8f8f8;
    }

    tr:hover {
      background: #f1f7ff;
    }

    th {
      font-weight: 600;
      padding: 0.5rem; // fixme em vs rem
    }

    td {
      padding: 0.5rem; // fixme em vs rem 

      .hide {
        display: none;
      }
    }

    .hide-column {
      display: none;
    }
  }
}