section.table {
  border: 1px solid blue;
  // overflow-y: auto;
  // max-height: 250px;

  table {
    margin: 1rem auto; // fixme
    @include table-style(lemonchiffon, khaki);
    // (#f8f8f8, #f1f7ff);
    // (lemonchiffon, khaki);

    .overrule-col {
      display: flex;
      justify-content: center;

      span {
        color: red;
      }
    }

    .hide,
    .collapse-col {
      display: none;
    }
  }
}