<!DOCTYPE html>
<html>
  <head>
    <title>Honey by Jaehyuk Lee</title>
    <%= csrf_meta_tags %>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <%# <script src="https://code.highcharts.com/highcharts.js"></script> %>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <%# <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script> %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="app">
      <div id="page-container">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
